html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
}

nav {
    position: fixed;
    left: 0;
    top: 0;

    width: 180px;
    height: 100vh;

    padding: 30px 25px;

    box-sizing: border-box;
}

nav .heading {
    margin-bottom: 50px;
}

nav h4 {
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family : "Courier New",Courier,mono;
}

.nav-links li {
    margin-bottom: 15px;
}

.nav-links a {
    text-decoration: none;
}

main {
    margin-left: 180px;
}

.heading {

  color: rgb(47, 47, 175);

  text-transform: uppercase;

  letter-spacing: 5px;

  font-size: 20px;

  user-select: none;

}


.nav-links a:hover:not(.active) {

  background-color: rgb(100, 165, 165);

}

.nav-links li a.active {

  background-color: rgb(100,165,165);

}


h1,h2,h3,h4,h5,p,button {
  font-size: small;
  font-family : "Courier New",Courier,mono;
  color: white; 
  text-align: center;
  /*
  font-family: "Noto Sans", sans-serif;
  */
}

.project {
  color: black;
  background-color: lightgrey;
  width: 300px;
  height: 400px;
  border: 15px solid rgb(13, 135, 192);
  padding: 50px;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
  display: inline-block; 
  box-sizing: border-box;
  text-align: center;
}

.title {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-family : "Courier New",Courier,mono;
}

.normal {
  padding-bottom:0px;
  text-align: center;
  font-family : "Courier New",Courier,mono;
}

.projectimage {
  width: 100px;
  height: 100px;
}

.projectcontainer {
  text-align: center;
}

button {
  border-style: round;
}

.socials {
  display: flex; /* Apply flexbox on the body */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding-top: 25px;
  padding-bottom: 25px;
}

.socialmedia {
  height: 80px;
  width: 80px;
  padding-right: 15px
}

.recommended-reading {
  padding: 40px;
}

.recommended-reading h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  column-gap: 1px;
  row-gap: 2px;
  justify-content: center;
}

.book-grid img {
  width: 70%;
  aspect-ratio: 2 / 3; /* book cover ratio */
  object-fit: cover;
  border-radius: 6px;
 /*  transition: transform 0.2s ease; */
}

.book-grid img:hover {
  transform: scale(1.05);
}

section {
  scroll-margin-top: 8vh; /* height of your nav */
}
a {
    color:white;
    text-decoration: none;
}

.essays {
  font-style: italic;
}

.landing-video {
    display: flex;
    justify-content: center;
}

.essay {
  margin-left: 180px;
  padding: 50px;
  max-width: 750px;

}

.essay p {
  max-width: 750px;
  line-height: 1.7;
  text-align: left;
  margin-bottom: 25px;
}


.bottom {
      position: fixed;     
      text-align: center;    
      bottom: 0px; 
      width: 100%;
      font-family : "Courier New",Courier,mono;
}










